
<%- include("header") %>
   <div class="box">
        <%for(var i=0;i<(newItems.length);i++){%>
          <form action="/delete" method="post">
        <div class="item"> 
          <input type="checkbox" name="checkbox" value= "<%=newItems[i]._id%> " onchange="this.form.submit()">
                   <p><%=newItems[i].workList%></p>
 </div>
          </form>

       <% }%>
  <form class="item" action="/" method="post">
    <input type="text"name ="item" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit" name="list"value=<%=day%>>+</button>
  </form>
</div>
    
  <%- include("footer") %>